.form-group {
  margin-top: 4px;
}
.sp{
  margin-right: 10px;
}
.nainen {
  color: lightcoral;
}
 .mies{
   color: blue;
 }
 .kentta1 {
   margin-right: 10px;
 }
 .kentta2 {
  margin-right: 13px;
}
.kentta3 {
  margin-right: 27px;
}